*{
  padding: 0;
  margin: 0;
}

a{
  list-style: none;
}

body{
  font-family: sans-serif;
}

.grid-container{
  margin: 15px;
  padding: 0;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
gap: 15px;
}
.single-container{
  display: flex;
  gap:5px;
  flex-direction: column;
  align-items: center;
  /* width we don't give in display:grid  because we use grid-template-column */
  padding: 20px;
  background-color: gainsboro;
  border-radius: 5px;
}
.link{
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.link img {


  
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.single-container span{
  margin-top: 5px;
}

.pagination-container{
 display: flex;
 gap:8px;
 justify-content: center; 
 align-items: center;
 margin-top: 80px;
 margin-bottom: 10px;
}
.pagination-container span{
  padding: 3px;
  cursor: pointer;
}
.pagination-container span{
padding: 5px 10px;
border: 1px solid rgb(236, 229, 229);
}
.pageActive{
 background-color: rgb(27, 156, 242);
}
.pagination-container div{
  cursor: pointer;
}
.disableBtn{
  opacity: 0;
}
.single-product-container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.single-product-container-details{
  display: flex;
  flex-direction: column;  

}
.single-product-container-details span{
  padding: 5px 0px;
}