.pills-container{
    display: flex;
    gap:10px;
    align-items: center;
    height: 20px;
    border: 1px solid #ccc;
    padding: 8px;
cursor: pointer;border-radius: 50px;

    

}
.pills-container img{
    height: 20px;
}
.pills-container span{
    display: flex;
    align-items: center;
}
.pills-container:last-child{
   size: 20px;
}